# OS X

.DS_Store

# Project

.grunt/
.sass-cache/
_SpecRunner.html
coverage/
demo/assets/*.css
demo/assets/*.js
demo/js
!demo/assets/js/vendor/
dist/
node_modules/
nbproject/private/
npm-debug.log
.idea
