<h1 class='title'>{{title}}</h1>

<ul class='tab-bar'>

    {{#files}}
        <li data-id="{{name}}">{{filename name}}</li>
    {{/files}}

</ul>

<section class='actions'>

    <i class='submit' title='Submit'></i>

</section>
