<div class='exercise-sidebar'>
    <h1 class='name'>{{title}}</h1>

    <ul class='tab-bar'>

        {{#files}}
            <li data-id="{{name}}">{{filename name}}</li>
        {{/files}}

    </ul>

    <section class='actions'>
        <i class='run' title='Run'></i>
    </section>
</div>
