<div class='top'>
    <h1 class='name'>{{title}}</h1>

    <ul class='tab-bar'>

        {{#files}}
            <li data-id="{{name}}">{{filename name}}</li>
        {{/files}}

    </ul>

    <section class='actions'>

        <i class='new' title='New file'></i>
        <i class='output' title='Last submission'></i>
        <i class='submit' title='Submit'></i>

    </section>
</div>
