<div class="exercise-area" id="exercise-{{id}}">
  <div class="code-area tmc-exercise" data-type='tmc-exercise' data-id='{{id}}'></div>
  <div class="game inactive" id="game-{{id}}">
    <a id="stop-game-{{id}}" href="#" title="stop-game" class="close">Stop game</a>
    <div id="game-area-{{id}}" class="game-area"></div>
  </div>
</div>
