<div class="exercise-area" id="exercise-{{id}}">
  <div class="code-area tmc-exercise" data-type='tmc-exercise' data-id='{{id}}'></div>
  <iframe sandbox="allow-scripts allow-same-origin" id="game-frame-{{id}}" class="game inactive">
  </iframe>
</div>
