<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>sandbox</title>
  <style type="text/css">
    body {
      margin: 0;
    }
    .game-area {
      width: 800px;
      height: 600px;
    }
  </style>
</head>

<body>

<div class="game active" id="game-{{id}}">
  <a id="stop-game" href="#" title="stop-game" class="close">Pysäytä</a>
  <div id="game-area-{{id}}" class="game-area"></div>
</div>

<script src="https://cdn.jsdelivr.net/phaser/2.4.4/phaser.js" crossorigin="anonymous"></script>

<script>
  var _mainWindow = null;
  console.info('Game frame loaded');
  //var _url = (window.location != window.parent.location) ? document.referrer: document.location;
  var _url = '*';
  var programHasCommunicated = false;

  var sendError = function(message) {
    programHasCommunicated = true;
    if (message === NaN) {
      message = "Ei ole numero";
    }
    var msg = {
      source: {{id}},
      error: message
    }
    if (_mainWindow) {
      _mainWindow.postMessage(msg, _url);
    } else {
      console.warn("Unable to display a error message because I don't know who the main window is.");
    }
  }

  function _stopGame() {
    var msg = {
      source: {{id}},
      stop: true
    }
    if (_mainWindow) {
      _mainWindow.postMessage(msg, _url);
    } else {
      console.warn("Unable to to close the dialog because I don't know who the main window is.");
    }
  }

  var _messageCount = 0;
  window.addEventListener('message', function(_event) {
    if (_mainWindow === null) {
      _mainWindow = _event.source;
    }
    if (_event.data == 'ready') {
      var ready = typeof Phaser !== 'undefined';
      if (_messageCount > 200) {
        ready = true;
      }
      var msg = {
        ready: ready,
        source: {{id}}
      }
      _event.source.postMessage(msg, _url);
      _messageCount++;
      return;
    }
    // A dirty workaround to mitigate a missing DOMContentLoaded event.
    if (Phaser.Device._readyCheck) {
      Phaser.Device._readyCheck();
    }

    var showMessage = function(message) {
      programHasCommunicated = true;
      if (message.constructor === Array) {
        message = JSON.stringify(message, null, ' ');
      }
      var msg =  {
        source: {{id}},
        message: message
      }
      _event.source.postMessage(msg, _url);
    }

    try {
      console.info('Evaluating code...');
      eval(_event.data);
    } catch (error) {
      sendError(error.toString());
    }
    if (!{{isGame}} && !programHasCommunicated) {
      showMessage("Ohjelma ei tulostanut mitään.");
    }
  });

    document.getElementById('stop-game').addEventListener('click', _stopGame);
    window.onerror = function(errorMsg, url, lineNumber, column, errorObj) {
      if (url === window.location.href) {
        programHasCommunicated = true;
        sendError(errorMsg)
      }
    }
</script>
</body>
</html>
