<div class='login-box'>

	<form class='login-form' method='post'>

		<h1 class='name'>Login</h1>

		<label>
			Username 
			<br>
			<input class='username' name='username' required value='{{username}}'>
		</label>
		<br>
		<label>
			Password
			<br>
			<input class='password' name='password' type='password' required>
		</label>
		<br><br>
		<button>Login</button>
		<p class='status'></p>
	</form>

</div>