<section class='output-actions'>
    <i class='fa fa-close close'></i>
</section>
<div class="output-content">
  <h1 class='title'>Korjaa koodistasi syntaksivirheet.</h1>

  <ul>
    {{#each messages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
