<section class='output-actions'>
    <i class='fa fa-close close'></i>
</section>
<div class="output-title">
  <h2>{{title}}
  </h2>
</div>
<div class='output-content'>
  <ul class='program-output'>
    {{#each lines}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  {{#if hint}}
    <div class='magic-hint'><i class="fa {{#if passed}}fa-thumbs-o-up{{else}}fa-lightbulb-o{{/if}}" aria-hidden="true"></i>
{{hint}}</div>
  {{/if}}
</div>
