<section class='output-actions'>
  <i class='fa fa-close close'></i>
</section>

<div class="output-content">
  <p>Linkki jaettuun koodiin:</p>
  <div class="shared-code-url-area">
    <input id="shared-code-url" value={{link_url}}>
    <button class="copy-btn" data-clipboard-target="#shared-code-url">
        Kopioi osoite
    </button>
  </div>
</div>
