.ace_editor
  width: 800px
  height: 600px
  border: 1px solid lightgray

.ace_marker-layer
  .error-line
    background: #ea7d7d !important
    position: absolute

.tmc-exercise-logout
  position: fixed
  top: 0
  right: 0
  margin: 10px

a.tmc-exercise-logout
  color: black

a.tmc-exercise-logout:hover
  text-decoration: none

.exercise-sidebar
  width: 200px
  display: inline-block

.code-area
  display: flex !important

.readonly-highlight
  background-color: red !important
  opacity: 0.2
  position: absolute
