$output-height: 220px

.tmc-output
  height: $output-height
  background-color: white
  box-sizing: border-box
  border: 1px solid lightgray
  font-size: 14px
  color: $pantone-black
  transition: all 0.3s

  &.hidden
    transform: translateY($output-height)

  h1.title
    margin: 20px 0

  .actions
    margin-top: 10px

  .progress-bar
    margin: 20px 0
    height: 15px
    width: 100%

    .section-positive
      background-color: rgb(154, 247, 122)
      height: 100%
      float: left

    .section-negative
      background-color: rgb(250, 130, 130)
      height: 100%
      float: right

    .section-positive
      background-color: rgb(245, 245, 120)

  .results
    width: 100%
    div
      margin-bottom: 20px
      padding: 0 15px
      width: 340px
      border: 1px solid lightgray
      border-radius: 4px
    h2
      font-size: 14px
    em
      font-style: normal
      font-weight: 600
      color: $pantone-black
      .positive
        color: rgb(154, 247, 122)
      .negative
        color: rgb(250, 130, 130)
    ol
      padding-left: 30px
    li em
      font-weight: 500
    .extended
      float: none !important
      width: 728px
    .active
      cursor: pointer
    p
      font-size: 16px
      color: #444
    .test-results
      float: left
    .validation-results
      float: right

.tmc-output-wrapper
  overflow: hidden
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  z-index: 7
  height: $output-height
  border-bottom-left-radius: 5px

  &.hidden
    pointer-events: none

#shared-code-url
  width: 100%

$actions-color: #000
.output-actions
  padding: 10px
  color: $actions-color
  float: right
  transition: color 0.3s
  font-size: 1.3em
  &:hover
    color: lighten($actions-color, 50%)


.output-content
  height: $output-height - 37px
  display: flex
  flex-direction: column

.program-output
  list-style-type: none
  overflow: auto
  max-height: $output-height - (30px * 2)
  flex: 1

.magic-hint
  min-width: 200px
  margin: 5px 0px
  border-top: 1px solid lightgray
  padding: 10px
  text-align: center

  .fa
    font-weight: bold
    font-size: 30px
    padding-right: 15px
    vertical-align: middle

.output-title
  padding: 0 10px
  line-height: 45px
  h2
    font-size: 25px !important
    font-weight: bold !important
