$pantone-black: #1d1d1b;

/* Fonts */

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

/* Animations */

@keyframes pulse {

    0% {

        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);

    }

    25% { opacity: 0.3; }

    50% {

        opacity: 0.5;
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);

    }

    75% { opacity: 0.3; }

    100% {

        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);

    }
}

@-webkit-keyframes pulse {

    0% {

        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);

    }

    25% { opacity: 0.3; }

    50% {

        opacity: 0.5;
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);

    }

    75% { opacity: 0.3; }

    100% {

        opacity: 0.1;
        -webkit-transform: scale(1);
        transform: scale(1);

    }
}

/* Components */

.tmc-exercise {

    position: relative;
    margin: 25px 0;
    width: 800px;
    font-family: 'Helvetica Neue', sans-serif;

    h1, h2 {

        margin: 0;
        font-size: 16px;
        font-weight: 500;

    }

    h1.name {

        float: left;
        overflow: hidden;
        margin-top: 8px;
        margin-right: 15px;
        max-width: 150px;
        max-height: 20px;
        text-overflow: ellipsis;
        color: #555;

    }

    a {

        color: #4c657d;

    }

    a:hover {

        color: #7fa8d1;

    }

    .actions {

        float: right;

        i {

            display: block;
            float: left;
            width: 30px;
            height: 30px;
            font-style: normal;
            cursor: pointer;
            opacity: 0.5;

        }

        i.new {

            opacity: 1;
            width: 20px;
            font-size: 22px;
            font-weight: 500;
            line-height: 34px;
            color: #888;

        }

        i.new::after {

            content: '+'

        }

        i.submit {

            background-image: url('../images/submit.svg');

        }

        i.submit.pulse {

            -webkit-animation: pulse 4s infinite linear;
            animation: pulse 4s infinite linear;

        }

        i.output {

            background-image: url('../images/output.png');

        }

        i:hover {

            opacity: 0.7 !important;

        }

        i.close {

            width: auto;
            height: auto;
            font-size: 18px;
            font-weight: 500;
            color: #888;
            opacity: 1;

        }

        i.close::after {

            content: 'x'

        }

        i.close:hover {

            color: #555 !important;
            opacity: 1 !important;

        }
    }

    .tab-bar {

        float: left;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 550px;
        height: 40px;
        font-size: 14px;
        color: #3071a9;
        white-space: nowrap;

        li {

            display: inline-block;
            overflow-x: hidden;
            max-width: 200px;
            padding: 10px 15px;
            text-overflow: ellipsis;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            i.delete {

                font-style: normal;
                cursor: pointer;
                font-weight: 500;
                color: #888;
                padding: 0 0 0 10px;

            }

            i.delete::after {

                content: 'x'

            }

        }

        li.active {

            border: 1px solid lightgray;
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            color: #555;

        }
    }

    .ace_editor {

        width: 100%;
        height: 600px;
        border: 1px solid lightgray;

    }

    .tmc-output {

        position: relative;
        z-index: 4;
        overflow-y: auto;
        margin-top: -250px;
        padding: 0 20px;
        width: 760px;
        height: 250px;
        background-color: white;
        border: 1px solid lightgray;
        font-size: 14px;
        color: $pantone-black;

        h1.title {

            margin: 20px 0;

        }

        .actions {

            margin-top: 10px;

        }

        .progress-bar {

            margin: 20px 0;
            height: 15px;
            width: 100%;

            .section-positive {

                background-color: rgb(154, 247, 122);
                height: 100%;
                float: right;

            }

            .section-negative {

                background-color: rgb(250, 130, 130);
                height: 100%;
                float: left;

            }
        }

        .validation-bar {

            .section-positive {

                background-color: rgb(245, 245, 120);

            }

        }

        .results {

            width: 100%;

            div {

                margin-bottom: 20px;
                padding: 0 15px;
                width: 340px;
                border: 1px solid lightgray;
                border-radius: 4px;

            }

            h2 {

                font-size: 14px;

            }

            em {

                font-style: normal;
                font-weight: 600;
                color: $pantone-black;

            }

            em.positive {

                color: rgb(154, 247, 122);

            }

            em.negative {

                color: rgb(250, 130, 130);

            }

            ol {

                padding-left: 30px;

            }

            li {

                em {

                    font-weight: 500;

                }
            }

            .extended {

                float: none !important;
                width: 728px;

            }

            .active {

                cursor: pointer;

            }

            p {

                font-size: 16px;
                color: #444;

            }

            .test-results {

                float: left;

            }

            .validation-results {

                float: right;

            }
        }
    }
}

/* Overlay */

.tmc-exercise.overlay {

    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;

}

/* Login */

.tmc-exercise.login {

    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 5;
    margin-top: -110px;
    margin-left: -220px;
    padding: 20px;
    width: 400px;
    height: 220px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;

    h1 {

        display: block;
        color: #555;

    }

    form {

        margin: 20px;

        label {

            display: inline-block;
            width: 100px;

        }

        input, button {

            padding: 4px;
            border: 1px solid lightgray;
            font-size: 14px;

        }

        input {

            width: 245px;
            height: 25px;

        }

        button {

            margin: 15px 0;
            width: 100%;
            height: 40px;
            background-color: white;
            border: 2px solid lightgray;

        }

        div {

            margin: 10px 0;

        }
    }

    .status {

        font-size: 14px;
        color: red;

    }
}
