/* Fonts */

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {

    font-family: 'LiberationMono';
    src: url('../fonts/liberation-mono/LiberationMono-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

.tmc-exercise {

    margin: 100px 0;
    width: 800px;
    height: 600px;
    font-family: 'Helvetica Neue', sans-serif;

    h1.title {

        margin-right: 15px;
        float: left;
        overflow-x: hidden;
        max-width: 200px;
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
        color: #555;


    }

    .tab-bar {

        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #3071a9;

        li {

            display: inline-block;
            overflow-x: hidden;
            max-width: 200px;
            padding: 10px 15px;
            text-overflow: ellipsis;
            cursor: pointer;

        }

        li.active {

            border: 1px solid lightgray;
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            color: #555;

        }
    }

    .ace_editor {

        width: 100%;
        height: 100%;
        border: 1px solid lightgray;

    }
}

.tmc-output {

    margin: 20px 0;
    padding: 1em;

    width: 96%;
    height: 150px;

    border: 1px solid lightgray;
    border-radius: 4px;
}
